{% extends 'home.html' %}
{% load static %}

{% block content %}
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col d-flex align-items-center" >
                <div class="center-content text-center">
                    <div class="circle bg-transparent" style="border: 20px solid #ccb52e; width:330px;height:330px; margin-top:-46rem; margin-left:-13rem;"></div>
                    <!-- <div class="circle" style="border: 20px solid #ccb52e; width:330px;height:330px; margin-top:46rem; margin-left:-13rem;"></div> -->
                    <h1 style="color: #3ebb8c;z-index :1;">Digital Cephalometry</h1>
                    
                    <p style="z-index:1"><span style="font-weight:bold; color:#3ebb8c">AI Carigi</span> is making a remarkable breakthrough in orthodontics with the development of Digital Cephalometry. Combining artificial intelligence with deep understanding from experts, this technology brings a modern approach to orthodontic diagnosis and planning. Digital Cephalometry enables digital monitoring and analysis of craniofacial structures, replacing traditional methods with unprecedented detail and precision. The resulting results not only speed up the diagnosis and treatment planning process, but also enable more accurate and personalized adjustments in orthodontic treatment. With Carigi's AI, the future of orthodontics steps into a smarter and more efficient dimension <br><br></p>
                    <button class="custom-button mx-auto d-block">Get Started</button>
                    <br><br>
                </div>
            </div>
            <div class="col center-flex">
                <div class="circle"></div>
                <model-viewer alt="doctor" src="{% static 'images/scene.gltf' %}" shadow-intensity="1" camera-controls auto-rotate touch-action="pan-y"></model-viewer>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
