{% extends 'home.html' %}

{% block content %}
<div class="container">
    <secton class="hero">
        <div class="row">
            <div class="col-md-6 text-center">
                <!-- <input type="file" id="imageInput" accept="image/*" class="form-control mb-3"> -->
                <canvas id="canvas" width="800" height="600" style="border: 1px solid #ccc;"></canvas>
                <!-- <button id="openImageBtn" class="btn btn-primary">Open Image</button> -->
            </div>
            <!-- <div class="col-md-6">
                <form id="resultForm" class="mt-3">
                    <div class="form-group">
                        <label for="length1">Length 1:</label>
                        <input type="text" id="length1" name="length1" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label for="angle1">Angle 1:</label>
                        <input type="text" id="angle1" name="angle1" class="form-control" readonly>
                    </div>
                </form>
                <div class="d-flex justify-content-between mt-3">
                    <button id="undoBtn" class="btn btn-secondary">Undo</button>
                    <button id="resetBtn" class="btn btn-danger">Reset</button>
                </div>
            </div> -->
        </div>
    </secton>
</div>
{% endblock content %}
