{% load static %}
<nav class="navbar navbar-expand-lg navbar-light"style="z-index:1">
    <a class="navbar-brand" href="{% url 'sefalometri' %}">
        <img src="{% static 'images/logo.png' %}" width="40" height="40" alt="carigi">
        <span class="brand-name">AI Carigi</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link{% if request.resolver_match.url_name == 'hint' %} active{% endif %}" href="{% url 'hint' %}">Hint</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if request.resolver_match.url_name == 'result' %} active{% endif %}" href="{% url 'result' %}">Result</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if request.resolver_match.url_name == 'documentation' %} active{% endif %}" href="#">Documentation</a>
            </li>
        </ul>
    </div>
</nav>
