.navbar {
    position: relative;
    padding: 1rem 2rem;
}
.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    transition: color 0.3s;
}
.brand-name {
    margin-left: 0.5rem;
}
.navbar .nav-link.active {
    font-weight: bold;
    background-color: #3ebb8c;
    color: rgb(211, 211, 211);
    border-radius: 0.5rem;
}

.navbar-nav .nav-link {
    color: #3ebb8c;
    transition: color 0.3s;
}
.navbar-nav .nav-link:hover {
    font-weight: bold;
    background-color: #3ebb8c;
    color: rgb(255, 251, 251);
    border-radius: 0.5rem 0 0.5rem 0;
    
}
