@font-face {
    font-family: 'Roboto';
    src: url('{% static "font/Roboto-Regular" %}') format('woff');
    font-weight: normal;
    font-style: normal;
}

.hero {
    padding: 30px 0; 
}

model-viewer {
    width: 500px; 
    height: 500px; 
    margin: 0 auto;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.custom-button {
    background-color: #3ebb8c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px 8px;
    margin: 0;
    box-sizing: border-box;
    white-space: nowrap;
    width: fit-content;
}
.circle {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: #3ebb8c;
    border-radius: 50%;
    /* z-index: -1; */
  }

  .circle {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: #3ebb8c;
    border-radius: 50%;
    /* z-index: -1; */
  }


  